Repository jhrcook/mustashe, pull requests merged in 2020-04, with the labels that each got.

#5 Update test-stash.R
  tests/testthat/test-stash.R
Labels: test

#4 Utilize qs (quick serialization) R package instead of readr and RDS formats
  DESCRIPTION
  R/clear_stash.R
  R/stash.R
  tests/testthat/test-clear_stash.R
  tests/testthat/test-stash.R
  tests/testthat/test-stash_filename.R
Labels: enhancement

#6 Development for v0.1.2
  .github/workflows/R-CMD-check.yaml
  .gitignore
  .mustashe/foo.hash
  .mustashe/foo.rds
  .mustashe/rnd_vals.hash
  .mustashe/rnd_vals.rds
  DESCRIPTION
  NEWS.md
  R/clear_stash.R
  R/stash.R
  cran-comments.md
  docs/404.html
  docs/LICENSE.html
  docs/apple-touch-icon-120x120.png
  docs/apple-touch-icon-152x152.png
  docs/apple-touch-icon-180x180.png
  docs/apple-touch-icon-60x60.png
  docs/apple-touch-icon-76x76.png
  docs/apple-touch-icon.png
  docs/articles/getting-started.html
  docs/articles/getting-started_files/header-attrs-2.1/header-attrs.js
  docs/articles/how-mustashe-works.html
  docs/articles/how-mustashe-works_files/header-attrs-2.1/header-attrs.js
  docs/articles/index.html
  docs/authors.html
  docs/bootstrap-toc.css
  docs/bootstrap-toc.js
  docs/favicon-16x16.png
  docs/favicon-32x32.png
  docs/favicon.ico
  docs/index.html
  docs/news/index.html
  docs/pkgdown.css
  docs/pkgdown.js
  docs/pkgdown.yml
  docs/reference/.mustashe/rnd_vals.hash
  docs/reference/clear_stash.html
  docs/reference/index.html
  docs/reference/mustashe.html
  docs/reference/stash.html
  docs/reference/unstash.html
  inst/WORDLIST
  tests/testthat/test-clear_stash.R
  tests/testthat/test-stash.R
  tests/testthat/test-stash_filename.R
Labels: CRAN, enhancement, test
